<div class="mt-40">
  <app-hero-section id="hero" />
</div>

<div class="mt-28" id="countdown">
  <app-countdown-section />
</div>

<div class="mt-28" id="what-is-kitahack">
  <app-what-is-kitahack-section />
</div>

<div class="mt-28" id="sdg">
  <app-sdg-section />
</div>

<div class="mt-28" id="how-to-join">
  <app-how-to-join-section />
</div>

<div class="mt-28" id="team-formation">
  <app-team-formation-section />
</div>

<div class="mt-28" id="tracks">
  <app-normal-ngo-section />
</div>

<div class="mt-28" id="judging-criteria">
  <app-judging-criteria-section />
</div>

<div class="mt-28" id="submission-criteria">
  <app-submission-criteria></app-submission-criteria>
</div>

<div class="mt-28" id="mentors">
  <app-mentors-section />
</div>

<div class="mt-28" id="chapters">
  <app-chapter-section />
</div>

<div class="mt-28" id="faqs">
  <app-faqs-section />
</div>
