<app-hero-section id="register-now" />

<div class="mt-20">
  <app-countdown-section />
</div>

<div class="mt-40">
  <app-what-is-kitahack-section />
</div>

<div class="mt-20" id="details">
  <app-details></app-details>
</div>

<div class="mt-10">
  <app-team-formation-section />
</div>

<div class="mt-36">
  <app-submission-criteria></app-submission-criteria>
</div>

<div class="mt-36" id="details">
  <app-mentors-section></app-mentors-section>
</div>

<div class="mt-36" id="details">
  <app-chapter-section></app-chapter-section>
</div>

<div class="mt-36" id="faqs">
  <app-faqs-section></app-faqs-section>
</div>
