   <!-- 'What is KitaHack' Section -->
   
   <section class="container grid grid-cols-4   mt-12  mx-auto md:px-20 lg:px-8  xl:flex-row text-gray-700 dark:text-gray-400 ">
    <div class=" col-span-2 ml-48 ">
        <h2 class="font-bold dark:text-white text-2xl md:text-5xl text-gray-700 text-left xl:text-left mb-4">What's KitaHack?</h2>
        <h3 class="pt-4 pb-2 font-bold text-l md:text-xl dark:text-white text-gray-700 md:text-left ">Brief overview</h3>
        <p class=" text-left text-gray-700 dark:text-gray-600">KitaHack is a two-month event featuring talks, events, and a hackathon organized by Google Developer Student Clubs Malaysia. It's a great opportunity to get feedback and practice your skills, with the goal of helping you create and fine-tune innovative ideas using Google technologies.</p>
        <h3 class="pt-4 pb-2 font-bold text-l md:text-xl dark:text-white text-gray-700 md:text-left ">Purpose</h3>
        <p class=" text-left text-gray-700 dark:text-gray-600">The main purpose of KitaHack is to help participants improve their proposals for the <a href="https://developers.google.com/community/gdsc-solution-challenge" class="text-blue-600">2024 Solution Challenge</a>. We offer feedback and networking opportunities with industry professionals, speakers, and mentors to help you get the most out of your experience. Plus, there are prizes to be won from our sponsors!</p>
        <h3 class="pt-4 pb-2 font-bold text-l md:text-xl dark:text-white text-gray-700 md:text-left ">Theme</h3>
        <p class=" text-left text-gray-700 dark:text-gray-600">KitaHack centers around the United Nations' 17 Sustainable Development Goals (SDGs). During the event, you'll be challenged to create a project that helps solve one or more of these goals using Google technologies. It's a chance to make a real difference in the world and learn new skills at the same time.</p>
    </div>
    <div class="col-span-2 items-center justify-center justify-self-center ">
        <img src="https://cdn.discordapp.com/attachments/1156483672636137583/1179600005988884500/kitahack.png?ex=657a5f1d&is=6567ea1d&hm=26cff6a7d5f667041920026cdc2880d4edaec03adfa660472590f8ff9961978d&" height="300px" width="500px" alt="Kitahack 2023 logo" class="px-12  mt-48  hidden xl:block ">
    </div>
</section>
<!-- End 'What is KitaHack' Section -->
