<section class="my-5">
  <div class="flex flex-col items-center justify-center gap-10 pt-12 sm:flex-row">
    <img class="flex-none object-cover rounded-full aspect-square w-52" src="{{ photo }}" alt="Personality Photo" />
    <div class="flex-auto max-w-xl">
      <h3 class="text-lg font-semibold leading-8 tracking-tight text-gray-700">
        {{ name !== undefined ? name : 'Name not available' }}
      </h3>
      <p class="mt-4 text-base leading-7 text-gray-600">
        {{ description !== undefined ? description : 'Description not available' }}
      </p>
      <ul role="list" class="flex mt-4 gap-x-6">
        <li>
          <a href="{{ link !== undefined ? link : '#' }}" target="_blank" rel="noreferral noopener" class="flex items-center gap-3 duration-200 text-google-blue-500 hover:text-google-blue-300">
            {{ link !== undefined ? link : 'Link not available' }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
