<section class="container items-center max-w-5xl px-10 mx-auto mb-24 text-center text-gray-700 lg:flex lg:flex-col mt-36 md:px-20 lg:px-8 xl:flex-row dark:text-gray-400">
  <div class="w-full lg:w-3/5">
    <h2 class="mb-4 text-3xl font-bold text-center text-gray-700 dark:text-white md:text-5xl xl:text-left">What's KitaHack?</h2>
    <h3 class="pt-4 pb-2 text-lg font-bold text-center text-gray-700 md:text-xl dark:text-white md:text-left">Brief overview</h3>
    <p class="text-left text-gray-700 max-w-prose dark:text-gray-400">KitaHack is a two-month event featuring talks, events, and a hackathon organized by Google Developer Student Clubs Malaysia. It's a great opportunity to get feedback and practice your skills, with the goal of helping you create and fine-tune innovative ideas using Google technologies.</p>
    <h3 class="pt-4 pb-2 text-lg font-bold text-center text-gray-700 md:text-xl dark:text-white md:text-left">Purpose</h3>
    <p class="text-left text-gray-700 max-w-prose dark:text-gray-400">The main purpose of KitaHack is to help participants improve their proposals for the <a href="https://developers.google.com/community/gdsc-solution-challenge" class="text-blue-600">2024 Solution Challenge</a>. We offer feedback and networking opportunities with industry professionals, speakers, and mentors to help you get the most out of your experience. Plus, there are prizes to be won from our sponsors!</p>
    <h3 class="pt-4 pb-2 text-lg font-bold text-center text-gray-700 md:text-xl dark:text-white md:text-left">Theme</h3>
    <p class="text-left text-gray-700 max-w-prose dark:text-gray-400">KitaHack centers around the United Nations' 17 Sustainable Development Goals (SDGs). During the event, you'll be challenged to create a project that helps solve one or more of these goals using Google technologies. It's a chance to make a real difference in the world and learn new skills at the same time.</p>
  </div>
  <div class="justify-center hidden mt-20 lg:w-2/5 lg:block">
    <img src="/assets/img/kitahack.png" alt="Kitahack 2023 Logo" class="self-center max-w-[300px]">
  </div>
</section>
