<!-- Discussion Conversation -->
<div class="block w-2/3 mx-auto box-border sm:w-3/5 mt-[50px] mb-[100px] xl:max-w-[700px]">
  <app-chatbox [isLeft]="true" bgColor="#DB4437">
      <p>
          Ok,cool. How I have formed a team. What's next?
      </p>
  </app-chatbox>
  <app-chatbox bgColor="#4285F4">
      <p>
          For now, you can start brainstorming for your project idea. Rememver
          to come up with a project idea that is related to one or more of the 
          <span class="font-bold">17 Sustainable Development Goals (SDGs).</span> You can refer to the 
          <span class="font-bold text-white">UN Sustaintable Development Goals</span> for more information
      </p>
  </app-chatbox>
  <app-chatbox [isLeft]="true" bgColor="#DB4437">
      <p class="pl-4">
          Ok, noted. I will start brainstorming for my project idea. How can I know whether my project idea is good enough for submission?
      </p>
  </app-chatbox>
  <app-chatbox bgColor="#4285F4">
      <p>
          Worries not. You maye refer the Submission Criteria below for more information 
      </p>
  </app-chatbox>
</div>


<!-- Timeline -->
<h1 class="font-bold text-center text-5xl mb-10">Submission Criteria</h1>
<div class="timeline">
<!-- First Row -->
  <div class="timeline-middle order-1">
      <div class="left-[99.8%] ml-auto middle-point"><div class="bg-google-red-500 center-point"></div></div>
      <div class="bg-google-red-500 ml-auto middle-line"></div>
  </div>
  <div class="group box-border order-2">
      <div class="border-2 border-google-red-500 group-hover:bg-google-red-500 group-hover:text-white group-hover:font-bold transition duration-500 timeline-content">
          <h1 class="content-title">PROJECT SETUP</h1> <span class="bg-google-red-500  group-hover:text-google-red-300 group-hover:bg-white content-mark">10 point </span>
          <div class="content">
              <p>1. Please clearly describe the challenge you are solving using a problem statement
                  <br><br>
                  2. What United Nations's Sustainable Developement goal(s) AND target(s)
                   did you choose for your solution? What inspired you to select these specific goals(s) AND target(s)?
               </p>
          </div>
      </div>
  </div>
<!-- Second Row -->
<div class="timeline-middle order-4">
  <div class="bg-google-blue-500 middle-line"></div>
  <div class="middle-point"><div class="bg-google-blue-500 center-point"></div></div>
</div>
<div class="group order-3">
  <div class="border-2 border-google-blue-500 group-hover:bg-google-blue-500 group-hover:text-white group-hover:font-bold transition duration-500 timeline-content">
      <h1 class="content-title">IMPLEMENTATION</h1> <span class="bg-google-blue-500  group-hover:text-google-blue-300 group-hover:bg-white content-mark">10 point </span>
      <div class="content">
          <p>3. Describe the architecture that your team chose for you solutaion 
              What are the high-level components of your architecture? What is the 
              responsibility of each component? 
              <br><br>
              4. Which specific products and platforms did you choose to implement these components and why?
          </p>
      </div>
  </div>
</div>
  
<!--Thrid Row  -->
<div class="timeline-middle order-5">
  <div class="bg-google-green-500 ml-auto middle-line"></div>
  <div class="left-[99.8%] middle-point"><div class="bg-google-green-500 center-point"></div></div>
</div>
<div class="group order-6">
  <div class="border-2 border-google-green-500 group-hover:bg-google-green-500 group-hover:text-white group-hover:font-bold transition duration-500 timeline-content">
      <h1 class="content-title">FEEDBACK / TESTING / ITERATION</h1> <span class="bg-google-green-500  group-hover:text-google-green-300 group-hover:bg-white content-mark">10 point </span>
      <div class="content">
          <ul class="list-disc pl-8 mb-2">
              <li class="mb-4">
                  walk us through the step you took to test your solution with real users
                  (outside of your team). Provide three specific feedback points you received from real users.
              </li>
              <li class="mb-4">
                  what did you learn and how did it help improve your solution? What are three specific things you implemented
                  and improved for your solution based on the feedback from users? 
              </li>
          </ul>
          <h2 class="mb-2">6. Code testing and iteration</h2>
          <ul class="list-disc pl-8">
              <li class="mb-4">
                  Highlight one challenge you face while building your code, including details on how you addressed the issues and 
                  the technical decisions and implmentations you had to make
              </li>
          </ul>
      </div>
  </div>
</div>
<!-- Fourth Row -->
<div class="timeline-middle order-8">
  <div class="bg-google-yellow-500 middle-line"></div>
  <div class="middle-point"><div class="bg-google-yellow-500 center-point"></div></div>
</div>
<div class="group order-7">
  <div class="border-2 border-google-yellow-500 group-hover:bg-google-yellow-500 group-hover:text-white group-hover:font-bold transition duration-500 timeline-content">
      <h1 class="content-title">SUCCESS AND COMPLETTION OF SOLUTION</h1> <span class="bg-google-yellow-500  group-hover:text-google-yellow-300 group-hover:bg-white content-mark">10 point </span>
      <div class="content">
          <p>7. How does your solution address the challenge you are looking to solve for? Describe the success of your solution using metrics, 
              goals, and outcome. What Google technologies are you using to track usgae analytics? Using relevent (or meaningful) statistics,
              concrete data or numerical examples where possible 
              <br><br>
              8. Upload a copy of your demo video. Make sure the video demostrate a working application and how a user will interact with the
              solution. Make sure the video also makes effective use of chosen Google products. Feel free to include infographics or visual 
              representation of the data in you demo video
          </p>
      </div>
  </div>
</div>
<!-- Fifth Row -->
  <div class="timeline-middle order-9">
      <div class="bg-google-red-500 ml-auto middle-line"></div>
      <div class="left-[99.8%] middle-point"><div class="bg-google-red-500 center-point"></div></div>
      <div class="left-[99.8%] middle-point end-point"><div class="bg-google-red-500 center-point"></div></div>
  </div>
  <div class="group order-10">
      <div class="border-2 border-google-red-500 group-hover:bg-google-red-500 group-hover:text-white group-hover:font-bold timeline-content">
          <h1 class="content-title">SCALABILITY / NEXT STEP</h1> <span class="bg-google-red-500  group-hover:text-google-red-300 group-hover:bg-white content-mark">10 point </span>
          <div class="content">
              <p>
                  9. What do you see as the future / next steps for your projects? How would you expand your solution to reach a larger audience?
                  <br><br>
                  10. Explain how the techinical architecture of your solution could support (in its current state or with minor changes) scaling 
                  to a larger audience
              </p>
          </div>
      </div>
  </div>
</div>

<!-- Submission Conversation -->
<div class="block w-2/3 mx-auto box-border sm:w-3/5 mt-[100px] xl:max-w-[700px]">
  <app-chatbox [isLeft]="true" bgColor="#0F9D58">
      <p class="pl-6">
          Thanks for the explanation. Now I have my project ready to be submitted.
          Can I know how will my project be judged? 
      </p>
  </app-chatbox>
  <app-chatbox bgColor="#F4B400">
      <p class="pl-4">
          Worries not. You may refer the <span class="text-white font-bold">Judging Criteria</span> below for more information
      </p>
      
  </app-chatbox>
</div>
