<div
  class="relative w-80 p-4 my-14 mx-6 bg-white rounded-lg flex flex-col justify-center items-center shadow-md dark:bg-gray-700"
>
  <div
    class="top-0 left-2/4 overflow-hidden absolute rounded-full w-38 h-38 shadow-xl -translate-x-1/2 -translate-y-1/2"
  >
    <img
      class="w-full aspect-square object-cover brightness-50 dark:brightness-100"
      src="https://media.tenor.com/_cL3US50IEUAAAAd/donkey-shrek-donkey.gif"
      alt=""
    />
  </div>
  <p class="text-gray-700 mt-20 mb-2 font-bold text-xl dark:text-white">
    To be announced
  </p>
  <p class="text-gray-700 font-normal dark:text-gray-400">TBA</p>
  <p
    class="text-gray-700 font-normal mt-4 px-2 text-justify dark:text-gray-400"
  >
    We are currently in the process of selecting and inviting the top mentors to
    join us at KitaHack. Keep an eye out for announcements on their names and
    expertise in the coming weeks. We can't wait to share their valuable
    insights and experiences with you!
  </p>
  <button
    class="mt-5 mb-2 bg-yellow-500 transition ease-in-out delay-50 hover:bg-white text-white hover:text-yellow-500 hover:border hover:border-yellow-700 font-bold py-2 px-4 rounded dark:hover:bg-gray-700 dark:hover:text-white dark:hover:border-white"
  >
    <a href="#">View Profile</a>
  </button>
</div>
