<div class="container px-6 py-16 mx-auto">
  <div
    class="px-6 py-12 lg:my-12 md:px-12 text-gray-800 text-center lg:text-left"
  >
    <div class="container mx-auto xl:px-32">
      <div class="grid lg:grid-cols-2 gap-12 items-center">
        <!-- Content -->
        <div class="mt-12 lg:mt-0">
          <h1
            id="hero_title"
            class="gradient-text text-transparent text-5xl md:text-6xl xl:text-6xl font-bold tracking-tight mb-6 dark:text-white dark:bg-none"
          >
            GDSC KitaHack 2024
          </h1>
          <!-- <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">KitaHack is a 2-day hackathon that is organised by Google Developer Student Clubs Malaysia (GDSC Malaysia).</p> -->
          <p
            class="text-gray-700 font-normal dark:text-gray-400 max-w-2xl mb-6 lg:mb-8"
          >
            KitaHack is a 2-month event featuring
            <strong>talks, events, and a hackathon</strong> organised by Google
            Developer Student Clubs Malaysia (GDSC Malaysia)
          </p>
          <!-- <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">The event date is 11th - 12th March 2023.</p> -->
          <p
            class="text-gray-700 font-normal dark:text-gray-400 max-w-2xl mb-6 lg:mb-8"
          >
            The event duration is <strong>4th Jan - 10th Mar 2023</strong>
          </p>

          <!-- Button -->
          <a
            id="hero_button"
            href="https://youtu.be/dQw4w9WgXcQ?si=xQPvlC-e20eRbVIQ"
            target="_blank"
            class="gradient-border-button h-14 btn border-white relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400"
          >
            <span
              class="relative flex px-5 py-3.5 transition-all ease-in duration-75 dark:text-gray-400 dark:bg-[#2A303C] rounded-md group-hover:bg-opacity-0 dark:hover:text-white"
            >
              Register Now!
              <svg
                aria-hidden="true"
                class="ml-2 -mr-1 w-5 h-5"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </span>
          </a>
        </div>
        <!-- Image -->
        <div class="mb-12 lg:mb-0">
          <img
            src="https://google-developer-student-club-malaysia.github.io/kitahack2023/img/gsc_home_hero_logo.png"
            class="w-full rounded-lg shadow-2xl shadow-gray-900 dark:shadow-gray-400"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
