<h1 class="mt-10 mb-4 text-3xl font-bold text-center text-gray-600 heading md:text-5xl dark:text-white">
  Judging Criteria
</h1>

<h3 class="mb-2 text-2xl font-bold text-center text-gray-600 md:text-4xl dark:text-white">
  Number of rounds
</h3>

<section class="box-border block w-2/3 mx-auto ml-auto custom-container sm:w-3/5">
  <div class="text-white bg-blue-500 shadow-lg stats-container dark:bg-gray-700">
    <div class="stats-left">
      <div class="stat place-items-center">
        <div class="stat-title">First Round</div>
        <div class="text-4xl stat-value text-">Ideathon</div>
        <div class="stat-desc">
          Impact - <b>50</b> points || Technology - <b>10</b> points
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="stats-right">
      <div class="stat place-items-center">
        <div class="stat-title">Second Round</div>
        <div class="stat-value">Prototype/MVP</div>
        <div class="mt-1 stat-desc">
          Impact - <b>10</b> points || Technology - <b>50</b> points
        </div>
      </div>
    </div>
  </div>
</section>

<h3 class="mt-10 mb-2 text-xl font-bold text-center text-gray-600 md:text-4xl dark:text-white">
  Impact
</h3>

<section class="container max-w-4xl pl-5 pr-10 mx-auto mt-8 text-justify">
  <ol class="ml-10 list-decimal">
    <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
      Does the entry establish a <b>clear challenge</b> using their problem
      statement? 🚀
    </li>
    <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
      Do they explain clearly which <b>(Selected SDG)</b> they chose for their
      solution and why? 🚀
    </li>
    <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
      Feedback from users, testing &amp; iteration 🚀
      <ol class="ml-10 list-[upper-roman]">
        <li>
          Does the team clearly describe three
          <b>feedback points they received from real users</b> and the steps
          they took to test them?
        </li>
        <li>
          Is there evidence of what the team learned and
          <b>how the solution was iterated upon</b> based on user feedback?<b> </b>
        </li>
        <b> </b>
      </ol>
      <b> </b>
    </li>
    <b>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Does the
        <b>solution address the challenge (and problem statement)</b> identified
        by the team? Does the team adequately
        <b>describe the success of their solution</b> using metrics, goals, and
        outcomes, or through cause and effect?<b> 🚀 </b>
      </li>
      <b>
        <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
          Is there evidence of next steps? Does the team display a
          <b>clear plan for future extension to a larger audience</b> if they
          were to continue?<b>🚀</b>
        </li>
        <b> </b>
      </b>
    </b>
  </ol>
  <b><b><b> </b></b></b>
</section>

<h3 class="mt-16 mb-2 text-xl font-bold text-center text-gray-600 md:text-4xl dark:text-white">
  Prototype / MVP
</h3>

<section class="container max-w-4xl pl-5 pr-10 mx-auto mt-8 text-justify">
  <ol class="ml-10 list-decimal">
    <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
      Does the team clearly describe the following: <b>architecture</b>,
      high-level <b>components</b>, <b>responsibility</b> of each component,
      <b>specific products and platform</b> they implemented? Has the team
      clearly explained what <b>Google technology they used</b> and why?<b>
        💻</b>
    </li>
    <b>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Does the solution <b>implement all the technical components</b> needed
        to solve the challenge? 💻
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Does the team clearly describe the following: <b>architecture</b>,
        high-level <b>components</b>, <b>responsibility</b> of each component,
        <b>specific products and platform</b> they implemented? Has the team
        clearly explained what <b>Google technology they used</b> and why? 💻
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Does the video demonstration show an
        <b>actual working application</b> (not a mockup) and
        <b>how a user will interact with the solution</b>? Does the demo show
        how the solution
        <b>makes effective and appropriate use of the features</b> of the chosen
        Google technology or platform? 💻
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Does the video demonstration show an
        <b>actual working application</b> (not a mockup) and
        <b>how a user will interact with the solution</b>? Does the demo show
        how the solution
        <b>makes effective and appropriate use of the features</b> of the chosen
        Google technology or platform? 💻
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Can the solution, in its current form or minor structural changes,
        <b>support more users and increased scale</b>?<b> 💻</b>
      </li>
      <b> </b>
    </b>
  </ol>
  <b><b> </b></b>
</section>

<b>
  <!-- How we handle bias -->
  <h3 class="mt-16 text-xl font-bold text-center text-gray-600 md:text-4xl dark:text-white">
    Ensuring Fair and Impartial Judging
  </h3>

  <section class="container max-w-4xl pl-5 pr-10 mx-auto mt-8 text-justify">
    <ul class="ml-10">
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        Ensuring fair and unbiased judging is crucial for the integrity of any
        competition. We implement measures to eliminate bias when evaluating
        submissions.
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        We average the scores from multiple judges and
        <strong>drop the highest and lowest scores.</strong> This helps to
        reduce the impact of any individual judge's opinion and focuses on the
        <strong>collective judgment of the group.</strong>
      </li>
      <li class="px-2 mt-4 font-normal text-justify text-gray-700 dark:text-gray-400">
        We believe that this measure helps to ensure fair and unbiased judging
        and contribute to the overall integrity of the competition. If you have
        any questions or feedback, please feel free to contact us.
      </li>
    </ul>
  </section>
</b>
