<section class="container px-6 mx-auto bg-center bg-no-repeat bg-cover" style="background-image: url(https://2023.kitahack.com/img/countdown_background.svg)">
  <div class="px-6 text-gray-800 md:px-12 lg:text-left xl:px-52">
    <h2 class="font-semibold leading-7 md:text-center text-google-red-500">
      Time ticking ⏰
    </h2>
    <p class="mt-2 text-3xl md:text-center font-[GoogleSans-Bold] font-bold tracking-tight text-gray-700 sm:text-4xl">
      Days until Demo-day
    </p>

    <div class="flex flex-row justify-center gap-5 mt-10 text-center auto-cols-max">
      <div class="flex flex-col items-center justify-center p-1 text-white md:p-5 lg:p-10 sm:w-1/4 md:w-1/6 lg:w-1/8 bg-google-red dark:bg-neutral rounded-box dark:text-neutral-content aspect-video sm:p-4">
        <span class="text-6xl font-bold countdown lg:text-7xl dark:text-white">
          <span id="days">{{ days }}</span>
        </span>
        <span class="font-medium text-md sm:text-xl">days</span>
      </div>
      <div class="flex flex-col items-center justify-center p-1 text-white md:p-5 lg:p-10 sm:w-1/4 md:w-1/6 lg:w-1/8 bg-google-blue dark:bg-neutral rounded-box dark:text-neutral-content sm:p-4">
        <span class="text-6xl font-bold countdown lg:text-7xl dark:text-white">
          <span id="hours">{{ hours }}</span>
        </span>
        <span class="font-medium text-md sm:text-xl">hours</span>
      </div>
      <div class="flex flex-col items-center justify-center p-1 text-white md:p-5 lg:p-10 sm:w-1/4 md:w-1/6 lg:w-1/8 bg-google-green dark:bg-neutral rounded-box dark:text-neutral-content sm:p-4">
        <span class="text-6xl font-bold countdown lg:text-7xl dark:text-white">
          <span id="minutes">{{ minutes }}</span>
        </span>
        <span class="font-medium text-md sm:text-xl">minutes</span>
      </div>
      <div class="flex flex-col items-center justify-center p-1 text-white md:p-5 lg:p-10 sm:w-1/4 md:w-1/6 lg:w-1/8 bg-google-yellow dark:bg-neutral rounded-box dark:text-neutral-content sm:p-4">
        <span class="text-6xl font-bold countdown lg:text-7xl dark:text-white">
          <span id="seconds">{{ seconds }}</span>
        </span>
        <span class="font-medium text-md sm:text-xl">seconds</span>
      </div>

    </div>
  </div>
</section>
