<div id="chat-container" class="block w-2/3 mx-auto box-border sm:w-3/5 xl:max-w-[80%] ">
    <h1 class="block mb-8 text-center font-bold text-5xl">KitaHack Details</h1>
    <app-chatbox [isLeft]="true" bgColor="#4285F4">
        Eh, I heard that kitahack is coming back for year 2024 leh <br> Wanna join mou?
    </app-chatbox>

    <app-chatbox bgColor="#DB4437">
        <p class="text-white">
            KitaHack? I never heard about it before. What is it about?
        </p>
    </app-chatbox>
    
    <app-chatbox [isLeft]="true" bgColor="#4285F4">
        <p class="pl-2">
            Walao, you seriously don't know ah? It is the <span class="text-white font-bold">biggest
            annual hackathon</span> organised by GDSC Malaysia for us to 
            better prepare for <span class="text-white font-bold">Solution Challenge.</span>The participants
            need to come out with an innovative solution that solves one or
            many SDGs problems using Google Technologies
        </p>
    </app-chatbox>

    <app-chatbox bgColor="#DB4437">
        <p class="text-white">
            Wahh, it seems interesting la. I think I would like to give it a
            try. First of all, I need to find my teammates? How can I get more 
            information about KitaHack team formation?
        </p>
    </app-chatbox>

    <app-chatbox [isLeft]="true" bgColor="#4285F4">
        <p class="pl-5">
            Worries not. You may refer the <span class="text-white font-bold">Team Formation</span> below for
            more information
        </p> 
    </app-chatbox>

    <app-chatbox bgColor="#DB4437">
        <p class="text-white">
            Ok.Thank you very much
        </p>
    </app-chatbox>  
</div>
