<section class="mt-5">
  <div *ngFor="let item of value" class="flex items-center mb-2">
    <input [checked]="item.checked" id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" disabled>
    <label for="default-checkbox" class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">
      {{ item.text }}
    </label>
  </div>
</section>
