<!-- 
  The following contains four sample warning messages.
  (1) Success
  (2) Info
  (3) Warning
  (4) Error
 -->

<!-- You can remove the next line div -->
<section class="container px-6 mx-auto">
  <div class="px-6 text-gray-800 md:px-12 lg:text-left xl:px-52">
    <div
      class="rounded-lg bg-google-red-500/5 shadow-lg shadow-google-red-500/10 p-4 my-5"
    >
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-google-red-500"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-bold text-google-red-500">
            {{ value.title }}
          </h3>
          <div class="mt-2 text-sm text-google-red-500">
            <p>
              {{ value.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
